html{
    background-color: rgb(37, 36, 36);
}

input[type="text"], textarea{
    background-color: rgb(66, 66, 66);
    color:white;
    border: none;
    margin-bottom: 2px;
}

#note-form{
    color: white;
}

.note_content-display{
    font-size: medium;
    display: none;
    background-color: rgb(70, 70, 70);
    max-height: 40vh;
    color:white;
    overflow-y: scroll;
}

.note_title{
    position: relative;
    background-color: rgb(129, 129, 129);
    width: 150px;
    text-align: center;
    height: 32px;
    cursor: grab;
    border-style: solid;
    border-color: rgb(122, 122, 122);
    margin-bottom: 5px;
    margin-top: 5px;
    color:white;
    font-weight: bold;
}

.note_title:hover{
    background-color: rgb(167, 167, 167);
}

.delete-note-btn{
    position: relative;
    background-color: aqua;
    color:red;
    border: none;
    font-size: 15px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-weight: bold;
}

.delete-note-btn:hover{
    background-color: rgb(58, 209, 209);
}