<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WatchNote file server</title>
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
</head>
<body>
    <form id="note-form" onsubmit="return isFormCompleted()" method="post" action="/addtodb">
        <label>Subject: </label><input id="note_subject" type="text" name="subject"/>
    </br>
        <label>Note name: </label><input id="note_title" type="text" name="note_title"/>
    </br>
        <label>Note content </label><textarea id="note_content" name="note_content" rows="4" cols="50"></textarea>
    </br>
    <div class="input_values">
        <lable>Characters:</lable>
        <span class="input_value_characters">0</span>
    </div>
</br>
        <button type="submit" name="submit">ADD</button>
    </form>
    </br>
    <%- include('./notes'); %>
    <script src="js/main.js"></script>
</body>
</html>